*{
font-family:"Vernada"
} 
h1{
color:Green;
}
th{
border:1px solid black
#header{
background-color: yellow;  
}
.body{
text-align:center;  
border:1px dotted blue;  
}
#line2{
color:red;
}
#line3{
color:blue;
}
