*{
font-family:"Vernada"
} 
h1{
color:Green;
}
#header{
border:1px solid black;
background-color: yellow;  
}
.body{
border:1px dotted blue;
text-align:center;  
}
#line2{
color:red;
}
#line3{
color:blue;
}
