*{
font-family:"Vernada"
} 
h1{
color:Green;
}
#header{
border: solid,black;
background-color: yellow;  
}
.body{
border:dotted, blue;
text-align:center;  
}
#line2{
color:red;
}
#line3{
color:blue;
}
